@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --foreground-off: 223 35% 16%;
    --card: 0 0% 100%;
    --card-foreground: 224 45% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 225 21% 68%;
    --muted-foreground: 220 8.9% 46.1%;
    --base: 225 21% 68%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }
}

@layer components {
  .text-gradient {
    background-image: linear-gradient(62.32deg, #7c3aed 12.69%, #de6b48 88.64%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .bg-gradient {
    background-image: linear-gradient(62.32deg, #7c3aed 12.69%, #de6b48 88.64%);
    background-size: 200% 200%;
    transition: background-position 0.5s ease;
  }

  .bg-gradient:hover,
  .bg-gradient:focus,
  .bg-gradient:active {
    background-position: right center;
  }
}

.text-gradient {
  @apply inline-block bg-[linear-gradient(62.32deg,#7C3AED_12.69%,#DE6B48_88.64%)] bg-clip-text text-transparent;
}

.bg-gradient {
  @apply bg-[linear-gradient(62.32deg,#7C3AED_12.69%,#DE6B48_88.64%)];
  background-size: 200% 200%;
  transition: background-position 0.5s ease;
}

.bg-gradient:hover,
.bg-gradient:focus,
.bg-gradient:active {
  background-position: right center;
}

.dot-shape-pseudo:not(:last-child)::after {
  content: "";
  @apply bg-[linear-gradient(62.32deg,#7C3AED_12.69%,#DE6B48_88.64%)];
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.bar-shape-pseudo:not(:last-child)::after {
  content: "";
  @apply bg-[linear-gradient(62.32deg,#7C3AED_12.69%,#DE6B48_88.64%)];
  display: inline-block;
  width: 0.0625rem;
  height: 1.25rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.bar-shape-pseudo-secondary::before {
  content: "";
  @apply bg-card-foreground;
  display: inline-block;
  width: 0.0625rem;
  height: 1.75rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1.5rem;
}

/* Multi Select */
.br-select {
  @apply max-w-[22rem] rounded-md bg-foreground px-16p py-18p font-sans text-14p leading-[1.25rem] text-white lg:relative lg:z-10;
}

.bg-select-item {
  @apply rounded-md bg-foreground-off p-14p [&:not(:last-child)]:mb-16p;
}

.bg-select-item:hover {
  @apply bg-primary transition-all;
}

.bg-select-panel {
  @apply rounded-md bg-foreground-off p-12p;
}

.bg-select-panel .p-multiselect-header {
  @apply mb-24p border-b border-foreground p-12p;
}

.p-multiselect-label.p-placeholder {
  @apply p-0 text-14p font-bold text-white;
}

.p-multiselect-trigger {
  @apply ml-8p;
}

.p-checkbox {
  @apply mr-10p h-20p w-20p rounded-md bg-card-foreground;
}

.p-checkbox-box {
  @apply flex-1 rounded-md;
}

.p-checkbox-box.p-highlight {
  @apply bg-primary;
}

/* Sort Select */
.without-ring:focus-visible {
  outline: none !important;
}

.focus-visible\:ring-offset-2:focus-visible {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 0px !important;
}

.focus\:ring-ring:focus {
  --tw-ring-color: transparent !important;
}

.br-sort-select .lucide-chevron-down {
  display: none;
}
